---
import Layout from '../layouts/Layout.astro';
import Statistics from '../components/Statistics.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import QuickStart from '../components/QuickStart.astro';
import AppStore from '../components/AppStore.astro';
import Community from '../components/Community.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
import LanguageModal from '../components/LanguageModal.astro';
import '../styles/global.css';
---

<Layout title="1Panel - 现代化、开源的Linux服务器运维管理面板">
  <Statistics slot="head" />
  <Fragment slot="main">
    <Header />
    <main>
      <Hero />
      <Features />
      <AppStore />
      <QuickStart />
      <Community />
      <CTA />
    </main>
    <Footer />
    <LanguageModal />
  </Fragment>
</Layout>

<style>
  main {
    position: relative;
    z-index: 1;
  }
</style>

