---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PricingContent from '../components/Pricing.astro';
import Footer from '../components/Footer.astro';
import LanguageModal from '../components/LanguageModal.astro';
import '../styles/global.css';
---

<Layout title="1Panel: Top-Rated Web-based Linux Server Management Tool">
  <Fragment slot="main">
    <Header />
    <main>
      <PricingContent />
    </main>
    <Footer />
    <LanguageModal />
  </Fragment>
</Layout>

<style>
  main {
    position: relative;
    z-index: 1;
  }
</style>

